# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock
!.yarnrc.yml

!app.js
!server.js

!app/**
!bin/**
!config/**

!acb.yaml
!Dockerfile

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
