description: Helm chart for the HMCTS CCD API Gateway
apiVersion: v2
name: ccd-api-gateway-web
home: https://github.com/hmcts/ccd-api-gateway
version: 1.2.8
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: nodejs
    version: 3.2.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
