description: Helm chart for the HMCTS CCD API Gateway
apiVersion: v2
name: ccd-api-gateway-web
home: https://github.com/hmcts/ccd-api-gateway
version: 1.2.2
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: nodejs
    version: 2.4.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
